In [7]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import matplotlib.pyplot as plt

engine = create_engine('mysql+pymysql://iotr:iotr123@115.88.201.51/kisti')

In [15]:
df = pd.read_sql_query('SELECT * FROM sensorParser WHERE gateway_id="SERVER" LIMIT 1000', engine)
df.head()

,id,gateway_id,node_id,timestamp,total_index,total_cai,total_percent,so2_index,so2_cai,so2_percent,...,pres_value,mcp_index,mcp_cai,mcp_percent,mcp_value,vbr_value,lat,lng,spd,areaMapKeyStr
0,228491,SERVER,IK1999,2017-06-02 00:00:01,3,500,0,0,0,100,...,0.0,0,0,0,0.0,1;20;1,35.886411,128.579132,0,None
1,228492,SERVER,IK1013,2017-06-02 00:00:03,0,40,92,0,23,95,...,386490.0,0,0,0,81.6,0;0;0,35.870399,128.601332,0,None
2,228493,SERVER,IK1999,2017-06-02 00:00:02,3,500,0,0,0,100,...,0.0,0,0,0,0.0,1;20;1,35.887678,128.575968,0,None
3,228494,SERVER,IK1999,2017-06-02 00:00:03,3,500,0,0,0,100,...,0.0,0,0,0,0.0,1;20;1,35.889977,128.576545,0,None
4,228497,SERVER,IK1999,2017-06-02 00:00:04,3,500,0,0,0,100,...,0.0,0,0,0,0.0,1;20;1,35.892201,128.577387,0,None

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 44 columns):
id               1000 non-null int64
gateway_id       1000 non-null object
node_id          1000 non-null object
timestamp        1000 non-null datetime64[ns]
total_index      1000 non-null int64
total_cai        1000 non-null int64
total_percent    1000 non-null int64
so2_index        1000 non-null int64
so2_cai          1000 non-null int64
so2_percent      1000 non-null int64
so2_value        1000 non-null float64
no2_index        1000 non-null int64
no2_cai          1000 non-null int64
no2_percent      1000 non-null int64
no2_value        1000 non-null float64
co_index         1000 non-null int64
co_cai           1000 non-null int64
co_percent       1000 non-null int64
co_value         1000 non-null float64
pm2_5_index      1000 non-null int64
pm2_5_cai        1000 non-null int64
pm2_5_percent    1000 non-null int64
pm2_5_value      1000 non-null float64
pm10_index       1000 non-null int64
pm10_cai         1000 non-null int64
pm10_percent     1000 non-null int64
pm10_value       1000 non-null float64
co2_value        0 non-null object
voc_index        0 non-null object
voc_value        1000 non-null float64
temp_index       0 non-null object
temp_value       1000 non-null float64
hum_index        0 non-null object
hum_value        1000 non-null float64
pres_value       1000 non-null float64
mcp_index        1000 non-null int64
mcp_cai          1000 non-null int64
mcp_percent      1000 non-null int64
mcp_value        1000 non-null float64
vbr_value        1000 non-null object
lat              1000 non-null object
lng              1000 non-null object
spd              1000 non-null int64
areaMapKeyStr    0 non-null object
dtypes: datetime64[ns](1), float64(10), int64(23), object(10)
memory usage: 343.8+ KB

In [4]:
pd.read_sql_query('SELECT COUNT(*) FROM sensorParser WHERE gateway_id="SERVER"', engine)

   COUNT(*)
0  14771847

In [19]:
df.plot.hist(alpha=0.5)
plt.show()